<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p><em><u>Click</u> on the title to leave a review & see more details</em></p>
  <table id="list">
    <thead>
      <tr>
        <th>Title <img src="/assets/sun.png" alt="lil cute sun"></th>
        <th>Language</th>
        <th>Average-Rating</th>
      </tr>
    </thead>
    <tbody>
      <% dramas.forEach(drama => { %>
        <tr>
          <td>
            <a  class= "titles" href="/dramas/<%= drama._id %>">
            <%= drama.title %>
            </a>
          </td>
          <td><%= drama.language %></td>
          <td><%= drama.getAverage() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>