<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/show.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %> </h1>
  <section class="details"> 
    <div>Title:</div>
    <div>
      <%= drama.title %>
      <% if (drama.owner) { %>
        <a href="/dramas/<%= drama._id %>/edit">
          <button class="btn">Edit this Drama</button>
        </a>
        <% } %>
    </div>
    <div>Language:</div>
    <div><%= drama.language %></div>
    <div>Rating:</div>
    <div><%= drama.getAverage() %></div>
    <div>Cast:</div>
    <ul>
      <% drama.mainChars.forEach(character => { %>
        <li><%= character.name %></li>
      <% }) %>
    </ul>
    </section>

    <form id="add-star-to-mainChar" action="/dramas/<%= drama._id %>/stars" method="POST">
      <select name="starId">
        <% stars.forEach(star => { %>
          <option value="<%= star._id %>"><%= star.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add a Star</button>
    </form>

  <h2>Rate This Drama</h2>
  <form 
  id="add-review-form"
  action="/dramas/<%= drama._id %>/reviews"
  method="POST"
  >
  
  <label for="comment-textarea">Comments:</label>
  <textarea name="comment" id="comment-textarea"></textarea>
  <label for="rating-select">Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10"selected>10</option>
  </select>
  <button type="submit">Add Review</button>
</form>
  <h2>Reviews 🌶️</h2>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% drama.reviews?.forEach(review => { %>
      <tr>
        <td><%= review.reviewer.name %></td>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        <td><% if (review.reviewer.equals(user?.profile)) { %>
          <form 
            action="/dramas/<%= drama._id %>/reviews/<%= review._id %>?_method=DELETE" 
            method="POST"
            class="inline"
          >
            <button class="btn" type="submit">Delete Review</button>
          </form>
          <% } %> 
        </td>
        
      </tr>
      <% }) %> 
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>