<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Language</th>
        <th>Rating</th>
        <th>Stars</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= drama.title %></td>
          <td><%= drama.language %></td>
          </td>
        </tr>
    </tbody>
  </table>
  <h2>Rate This Drama</h2>
  <form 
  id="add-review-form"
  action="/dramas/<%= drama._id %>/reviews"
  method="POST"
  >
  
  <label for="comment-textarea">Comments:</label>
  <textarea name="comment" id="comment-textarea"></textarea>
  <label for="rating-select">Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="1">6</option>
    <option value="2">7</option>
    <option value="3">8</option>
    <option value="4">9</option>
    <option value="5"selected>10</option>
  </select>
  <button type="submit">Add Review</button>
</form>
  <h2>Reviews 🌶️</h2>
  <table>
    <thead>
      <tr>
        <th>user</th>
        <th>comment</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% drama.reviews?.forEach(review => { %> 
      <tr>
        <td><%= review.reviewer.name %></td>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        </td>
      </tr>
      <% }) %> 
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>