<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/show.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %> </h1>
  <section  class="transparent-box" class="details"> 
    <div class="title">Title</div>
    <div>
      <%= drama.title %>
      <% if (drama.owner) { %>
        <a href="/dramas/<%= drama._id %>/edit">
          <button class="btn">Edit this Drama</button>
        </a>
        <% } %>
    </div>
    <div class="title">Language</div>
    <div><%= drama.language %></div>
    <div class="title">Rating</div>
    <div><%= drama.getAverage() %></div>
    <div class="title">Cast</div>
    <ul>
      <% drama.mainChars.forEach(character => { %>
        <li><%= character.name %></li>
      <% }) %>
    </ul>
    

    <form id="add-star-to-mainChar" action="/dramas/<%= drama._id %>/stars" method="POST">
      <select name="starId">
        <% stars.forEach(star => { %>
          <option value="<%= star._id %>"><%= star.name %></option>
        <% }) %>
      </select>
      <button type="submit" class="btn btn-outline-danger" >Add a Star</button>
    </form>
  </section>
    <section class="ratings">
  <h2>Rate This Drama</h2>
  <form 
  id="add-review-form"
  action="/dramas/<%= drama._id %>/reviews"
  method="POST"
  >
  <div class="form-group row">
  <label for="comment-textarea" class="col-sm-2 col-form-label">Comments:</label>
  <div class="col-sm-10">
  <textarea name="comment" id="comment-textarea"></textarea>
</div>
<div class="form-group row">
  <label for="rating-select" class="col-sm-2 col-form-label">Rating:</label>
  <div>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10"selected>10</option>
    </select>
  </div>
</div>
  <button type="submit" class="btn btn-outline-success">Add Review</button>
  </div>
</form>
</section>
<section class="review-cards">
  <h2>Reviews 🌶️</h2>
      <% drama.reviews?.forEach(review => { %>
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <div class="blockquote mb-0""><%= review.comment %></div>
          <div>Rating</div>
          <div class="card-title"><%= review.rating %></div>
          <div class="reviewer"class="blockquote mb-0"> - <%= review.reviewer.name %></div>
        <div><% if (review.reviewer.equals(user?.profile)) { %>
          <form 
            action="/dramas/<%= drama._id %>/reviews/<%= review._id %>?_method=DELETE" 
            method="POST"
            class="inline"
          >
            <button class="btn btn-outline-danger" type="submit">Delete Review</button>
          </form>
          <% } %> 
        </div>
      </div>
    </div>
      <% }) %> 
</section>
</main>

<%- include('../partials/footer') %> 

<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>  -->