<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/show.css" />
<%- include('../partials/nav') %>
<h1 class="animate__animated animate__fadeInRight"><%= title %> </h1>
<main>
  <section  class="transparent-box" class="details"> 
    <div class="title">Title</div>
    <div class="populate">
      <%= drama.title %>
    </div>
    <div class="title">Language</div>
    <div class="populate"><%= drama.language %></div>
    <div class="title">Rating</div>
    <div class="populate"><%= drama.getAverage() %></div>
    <div class="title">Cast</div>
    <ul>
      <% drama.mainChars.forEach(character => { %>
        <li><%= character.name %></li>
        <% }) %>
      </ul>
      <% if (drama.owner.equals(user.profile.id)) { %>
        <a href="/dramas/<%= drama._id %>/edit">
          <button class="btn btn-outline-success btn-sm">Edit this Drama</button>
        </a>
      <% } %>
    

    <form id="add-star-to-mainChar" action="/dramas/<%= drama._id %>/stars" method="POST">
      <select name="starId">
        <% stars.forEach(star => { %>
          <option value="<%= star._id %>"><%= star.name %></option>
        <% }) %>
      </select>
      <button type="submit" class="btn btn-outline-danger btn-sm" >Add a Star</button>
    </form>
  </section>
    <section class="ratings">
  <h2>Rate This Drama</h2>
  <form 
  id="add-review-form"
  action="/dramas/<%= drama._id %>/reviews"
  method="POST"
  >
  <div class="form-group">
  <label for="comment-textarea" class="title">Comments</label>
  <textarea name="comment" id="comment-textarea" class="form-control"></textarea>
  </div>
  <div class="form-group">
  <label for="rating-select" class="title" >Rating</label>
  <select name="rating" id="rating-select"  class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10"selected>10</option>
  </select>
  </div>
  <button type="submit" class="btn btn-outline-success">Add Review</button>
</form>
</section>
<% if (drama.reviews.length) { %>
<section class="review-cards">
  <h2>Reviews 🌶️</h2>
      <% drama.reviews?.forEach(review => { %>
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <div class="blockquote mb-0""><%= review.comment %></div>
          <div>Rating</div>
          <div class="card-title"><%= review.rating %></div>
          <div class="reviewer"class="blockquote mb-0"> - <%= review.reviewer.name %></div>
        <div><% if (review.reviewer.equals(user?.profile)) { %>
          <form 
            action="/dramas/<%= drama._id %>/reviews/<%= review._id %>?_method=DELETE" 
            method="POST"
            class="inline"
          >
            <button class="btn btn-outline-danger" type="submit">Delete Review</button>
          </form>
          <% } %> 
        </div>
      </div>
    </div>
    <% }) %> 
    <% } else { %>
    <h3>No Reviews Yet</h3>
  </section>
  <% } %>
</main>

<%- include('../partials/footer') %> 
